body { background-color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #3fa1bf; background-attachment: fixed; background-repeat: no-repeat}
a.linksdi4blo {font-family: verdana, Arial, Helvetica, sans-serif; font-size: 20px; color: #3fa1bf; text-decoration: none}
a.linksblau {font-family: verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #3fa1bf; text-decoration: none}
a.linkGran  {font-family: verdana, Arial, Helvetica, sans-serif; font-size: 23px; color: #3fa1bf; text-decoration: none}
p.Gran {font-family: verdana, Arial, Helvetica, sans-serif; font-size: 23px; color: black; text-decoration: none}
